// -----------------------------------------------------------------------------
// Cards
// -----------------------------------------------------------------------------
.card {
  @include clearfix;
  width: 100%;
  background-color: white;
  box-shadow: $global-shadow;
}
